.menu{
    display: flex;
    gap:2px;
}

.menu li:hover > .submenu{
    display: block;
}

.submenu{
    margin-top: 1px;
    display: none;
    font-size: 18px;
    position: absolute;
}

.submenu a{
    width: 120%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: #000000BB;
    float: inline-end;
    position: relative;
}

.submenu a:hover{
    border-left: 5px solid red;  
}