*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/Iara.jpg");
    background-color: #00000050;
    background-blend-mode: darken;
    background-size: cover; 
    background-position: top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}

header{
    background-color: #00000090;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw; /*0 vale para cima e para baixo e o 10vw vale para direita e esquerda*/
}

.descricao{
    font-style: italic;
}

.logo img{
    width: 120px;
}

.home{
    font-size: 25px;
}

.lendas{
    font-size: 25px;
}

.trailer{
    font-size: 25px;
}

.sobre{
    font-size: 25px;
}


.links ul{
    gap: 20px; 
    list-style-type: none; /* Tirar as bolinhas dos tópicos */
}

.links a{
    text-decoration: none; /* Tira o sublinhado e os efeitos de mudar a cor depois de clicar */
    color: white;
    user-select: none; /* Fazer com que o usuário não consiga selecionar os links */
    transition: all .5s;
}

.links a:hover{
    color: gray;
}

main{
    padding: 20vh 10vh;
    flex-grow: 6;
    
}

.lenda{
    transform: rotate(270deg);
    color: #D81F26;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5 5vw;
    user-select: none;
}

main h1{
    font-size: 120px;
    font-family: Helvetica;
    color: #00000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(224, 224, 224);
    margin-bottom: 20px;
    /*position: relative;*/
}

/*main h1::after{
    content: "Curupira";
    color: #00000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(10, 10, 10, 0.897);
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: -1;
}
*/

.textos{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin-bottom: 45px;
}

main p{
    font-size: 20px;
    font-weight: 200;
    max-width: 500px;
}

.informacoes{
    display: flex;
    flex-direction: row;
}

.sobreAtor{
    display: flex;
    flex-direction: column;
    border-right: solid 3px #D81F26;
    margin-right: 35px;
    width: 150px;
    font-style: italic;
}

.ator{
    font-size: 15px;
}
.sobrePersonagem{
    display: flex;
    flex-direction: column;
    border-right: solid 3px #D81F26;
    margin-right: 35px;
    width: 120px;
    font-style: italic;
}

.personagem{
    font-size: 15px;
}

.sobreEntidade{
    display: flex;
    flex-direction: column;
    font-style: italic;
}

.entidade{
    font-size: 15px;
}

footer{
    text-align: center;
    height: 50px;    
}