*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/cidade-invisivel.jpg");
    background-color: #00000050;
    background-blend-mode: darken;
    background-size: cover; 
    background-position: top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}

header{
    background-color: #00000090;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vw; /*0 vale para cima e para baixo e o 10vw vale para direita e esquerda*/
}

.logo img{
    width: 120px;
    user-select: none;
}

.links ul{
    gap: 20px; 
    list-style-type: none; /* Tirar as bolinhas dos tópicos */
}

.links a{
    text-decoration: none; /* Tira o sublinhado e os efeitos de mudar a cor depois de clicar */
    color: white;
    user-select: none; /* Fazer com que o usuário não consiga selecionar os links */
    transition: all .5s;
}

.links a:hover{
    color: gray;
}

.home{
    font-size: 25px;
}

.lendas{
    font-size: 25px;
}

.trailer{
    font-size: 25px;
}

.sobre{
    font-size: 25px;
}


main{
    padding: 20vh 10vh;
    flex-grow: 6;
    
}

main h2{
    font-size: 30px;
}

main h1{
    font-size: 60px;
}

main p{
    font-size: 20px;
    font-weight: 200;
    max-width: 700px;
}

main a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #D81F26;
    margin-top: 30px;
    border-radius: 3px;
    user-select: none;
    transition: all .5s;
}
main a:hover{
    /*border: solid 1px #D81F26;*/
    background-color: rgba(92, 3, 3, 0.897);
}

footer{
    /*background-color: teal;*/
    text-align: center;
    height: 50px;    
}

.butterfly{
    position: absolute;
    width: 60px;
    top: 90vh;
    left: 90vw;
    filter: brightness(10%);
    animation: voar 7s infinite;
}

@keyframes voar {
    0% {
        transform: translate(0,0);
    }
    100%{
        transform: translate(-90vw, -90vh);
    }
}